* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto" Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  font-size: 1.2rem;
}

nav a {
  text-decoration: none;
  padding-left: 2rem;
}

nav a.active {
  font-weight: bolder;
  color: rgb(250, 137, 96);
  transition: all 0.5s;
}

.logo {
  height: 60px;
  width: 100px;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  padding: 1rem;
  font-weight: bolder;
}

.slider img {
  height: 600px;
}

.caption h1 {
  color: black;
}

.explore {
  background: black;
  color: white;
  font-weight: bolder;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  margin: 1rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  width: 100%;
  margin: 0 auto;
}
.card {
  height: 350px;
}
.image {
  height: 200px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review {
  color: rgb(255, 176, 28);
  font-style: italic;
}

.price {
  display: flex;
  font-weight: bolder;
}

.current-price {
  color: rgb(255, 176, 28);
  margin-right: 1rem;
}

.old {
  text-decoration: line-through;
  color: gray;
}

.about {
  padding: 2rem 1rem;
  background: rgb(243, 239, 239);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.para {
  line-height: 2rem;
  font-size: 1.1rem;
  color: grey;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact {
  background: rgb(244, 240, 240);
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
}

.contact-span {
  background: white;
  height: 2px;
  width: 100%;
  margin-bottom: 0.4rem;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 1rem;
  background: rgb(244, 240, 240);
  margin: 2rem;
  border: none;
}

.subject {
  margin-bottom: 2rem;
}

textarea {
  margin-top: 2rem;
  padding-bottom: 7rem;
}

.name-email {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.name-email input {
  width: 48%;
}

@media screen and (max-width: 500px) {
  nav {
    /* font-size: 1rem; */
    justify-content: space-evenly;
  }

  nav a {
    padding-left: 1.2rem;
  }

  .logo {
    font-size: 0.8rem;
    height: 50px;
    width: 70px;
    padding: 0.5rem 1.5rem;
  }

  .slider img {
    height: 280px;
  }

  .tele {
    display: none;
  }

  .card {
    width: 300px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
